! Font options
! Resolution for Xft in dots per inch (e.g. 96)
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfilter

! Xterm
XTerm*faceName:	xft:UbuntuMono Nerd Font
XTerm*faceSize: 12
XTerm*renderFont: true
XTerm*dynamicColors: true
XTerm*utf8: 2
XTerm*loginShell: true

! URxvt
URxvt.imLocale:	en_US.UTF-8
URxvt.termName: rxvt-unicode-256color
URxvt.font: xft:UbuntuMono Nerd Font:size=12
URxvt.boldFont: xft:UbuntuMono Nerd Font:size=12
URxvt*loginShell: true
URxvt*borderless: false
!URxvt*letterSpace: -1
!URxvt*lineSpace: 0
URxvt.saveLines: 2000
URxvt.scrollBar: false


! Ashes Dark Xresources palette
!! COLORS

! special
*.foreground:   #c7ccd1
*.background:   #1c2023
*.cursorColor:  #c7ccd1

! black
*.color0:       #1c2023
*.color8:       #747c84

! red
*.color1:       #c7ae95
*.color9:       #c7ae95

! green
*.color2:       #95c7ae
*.color10:      #95c7ae

! yellow
*.color3:       #aec795
*.color11:      #aec795

! blue
*.color4:       #ae95c7
*.color12:      #ae95c7

! magenta
*.color5:       #c795ae
*.color13:      #c795ae

! cyan
*.color6:       #95aec7
*.color14:      #95aec7

! white
*.color7:       #c7ccd1
*.color15:      #f3f4f5
